aiofiles==0.6.0
attrs==20.3.0
click==7.1.2
fastapi==0.63.0
h11==0.12.0
iniconfig==1.1.1
packaging==20.8
pluggy==0.13.1
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.1
starlette==0.13.6
toml==0.10.2
uvicorn==0.13.3
